body {
    margin:0;
}
.swap{
    position:fixed;
    cursor:pointer;
    bottom:40px;
    left: 10%;
    gap: 10px;
    align-items:center;
    display:flex;
    padding:0px 8px 0px 8px;
    border-radius:20px;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.05);
}
.post__container{
    display:flex;
    justify-content:center;
    width: 100%;
}
.posts{
    width: 50%;
}
.post{
    margin-top:30px;
    background-color:rgb(246, 246, 246);
    padding: 20px;
    border-radius: 30px;
}
.post__header{
    width:100%;
    justify-content:space-between;
    display:flex;
}
.post__header__left{
    display:flex;
    gap: 10px;
    align-items: center;
}
.post__header__left__avatar{
    width:20px;
    height:20px;
    border-radius:1000px;
}
.post__header__right{
    display:flex;
    gap: 10px;
    align-items: center;
    color:#bababa;
}
.post__content__image{
    width:100%;
    height:auto;
    object-fit:contain;
    border-radius:30px;
}
.post__react{
    margin-top:12px;
}
.post__react__icon{
    display:flex;
    gap:8px;
}
.post__react__number{
    display:flex;
    color:#bababa;
    gap:8px;
    align-items: center;
}
.hello_user {
    text-align:center;
}
.hello_user h1 {
    margin-top:0;
}
.hello_user span {
    color: #4285F4;
}
.logout button {
    position:fixed;
    top:20px;
    right: 9%;
    cursor:pointer;
    background-color:white;
    padding:10px 15px;
    border:none;
    border-radius:20px;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.05);
    transition: 0.1s;
}

.username {
    color: black;
    font-weight: bold;
}

.hello_user button:hover {
    background-color:#e6e6e6;
}
.hello_user .question {
    width: 75%;
    padding: 10px 15px;
    border:1px solid #cccccc;
    border-radius:20px;
}

/* CSS của AnhZlatan */
.profile{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.profile .top {
    width:50%;
    display: flex;
    padding: 25px 25px 25px 75px;
    margin:30px 0px;
    background-color:rgb(246, 246, 246);
    border-radius: 30px;
    gap:10%;
}
.profile .top .right {
    display:flex;
    flex-direction:column;
    width:100%;
}
.profile .top .right .one {
    display: flex;
    align-items:center;
    gap:2%;
}
.profile .top .right .one a {
    padding: 8px 15px;
    border:none;
    border-radius: 10px;
    background-color: #333333;
    color:white;
    text-decoration:none;
}
.profile .top .right .one a:hover {
    background-color: #1a1a1a;
}
.profile .top .right .two {
    display: flex;
    flex-direction:row;
    gap:10%;
}
.profile .top .right .two p{
    margin:0;
}
.profile .down {
    width:53%;
    display: flex;
    flex-direction:column;
    padding: 25px;
    margin-bottom:30px;
    background-color:rgb(246, 246, 246);
    border-radius: 30px;
    gap:30px;
}
.profile .down .nav {
    width:100%;
    display:flex;
    justify-content:center;
    gap:15%;
}
.profile .down .nav a {
    text-decoration:none;
    padding-bottom:10px;
    display:block;
    border-bottom: 1.5px solid transparent;
    color:black;
    font-weight:bold;
}
.profile .down .nav a:hover {
    border-bottom: 1.5px solid #333333;
}
.profile .down .content {
    text-align:center;
    padding-bottom:25px;
}
.profile .down .edit-form .form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.profile .down .edit-form .form label{
    margin-left:80px;
    align-self: normal;
}
.profile .down .edit-form .form input {
    display:inline-block;
    padding: 20px;
    width: 75%;
    border-radius: 20px;
    border: none;
    background-color: #333333;
    color: rgb(243, 245, 247);
}
.profile .down .edit-form .form .buttons {
    align-self: end;
    margin-top: 21px;
}
.profile .down .edit-form .form .buttons a {
    margin-right:20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color:black;
    text-decoration:none;
}
.profile .down .edit-form .form .buttons a:hover {
    background-color: #cccccc;
}
.profile .down .edit-form .form .buttons button {
    margin-right:80px;
    padding: 10px 20px;
    border:none;
    border-radius: 10px;
    background-color: #4dc3ff;
    color:white;
}
.profile .down .edit-form .form .buttons button:hover {
    background-color: #33bbff;
    cursor: pointer;
}
.hiddenInput {
    display:none;
}
.profile .down .edit-form .message-edit{
    background-color: #00C67E;
    color: white;
    padding:15px 18px;
    margin:0px 0px 10px 0px;
    border-radius:15px;
}
.readonly-input{
    cursor: default;
    pointer-events: none;
}
.message-user-error{
    background-color: pink;
    color: red;
    padding:15px;
    margin:0px 0px 10px 0px;
    border-radius:15px;
    text-align: center;
}



.fa-heart {
    cursor: pointer;
}
.heart_active {
    color: red;
}
.fa-comment {
    cursor: pointer;
}
.reply__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.reply {
    width: 50%;
    height: 80%;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    overflow: scroll;
    background-color: white;
}
.close__scroll {
    overflow: hidden;
}
.disable {
    display: none;
}


/* User avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.comment-form-wrapper {
    padding-bottom: 20px;
}

.comment-content {
    display: flex;
    align-items: center;
}

/* User's name */
.user-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* Comment text */
.comment-text {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
}

/* Timestamp */
.timestamp {
    color: #999;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*start threads section*/

.start-threads-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
}

.user-avatar {
    border-radius: 9999px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.user-avatar img {
    object-fit: cover;
}

.start-threads-section .input {
    flex: 1
}


.start-threads-section .input input {
    outline: none;
    border: none;
    padding: 20px 10px;
    flex: 1;
}

.start-threads-input {
    outline: none;
    border: none;
    padding: 20px 10px;
    flex: 1;
}

.threads-form {
    display: flex;
    flex-direction: column;
}

.custom-file-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-file-input input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-input label {
    display: block;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    cursor: pointer;
}

.custom-file-input label img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview img {
    width: 60%;
}

.modal-button-wrapper {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    justify-content: center;
}

/* CSS */
.button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 5px 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}