body {
    margin:0;
}
.swap{
    position:fixed;
    cursor:pointer;
    bottom:40px;
    left: 10%;
    gap: 10px;
    align-items:center;
    display:flex;
    padding:0px 8px 0px 8px;
    border-radius:20px;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.05);
}
.post__container{
    display:flex;
    justify-content:center;
}
.posts{
    width: 50%;
}
.post{
    width:100%;
    margin-top:30px;
    background-color:rgb(246, 246, 246);
    padding: 20px;
    border-radius: 30px;
}
.post__header{
    width:100%;
    justify-content:space-between;
    display:flex;
}
.post__header__left{
    display:flex;
    gap: 10px;
    align-items: center;
}
.post__header__left__avatar{
    width:20px;
    height:20px;
    border-radius:1000px;
}
.post__header__right{
    display:flex;
    gap: 10px;
    align-items: center;
    color:#bababa;
}
.post__content__image{
    width:100%;
    height:auto;
    object-fit:contain;
    border-radius:30px;
}
.post__react{
    margin-top:12px;
}
.post__react__icon{
    display:flex;
    gap:8px;
}
.post__react__number{
    display:flex;
    color:#bababa;
    gap:8px;
    align-items: center;
}
.hello_user {
    text-align:center;
}
.hello_user h1 {
    margin-top:0;
}
.hello_user span {
    color: #4285F4;
}
.logout button {
    position:fixed;
    top:20px;
    right: 9%;
    cursor:pointer;
    background-color:white;
    padding:10px 15px;
    border:none;
    border-radius:20px;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.05);
    transition: 0.1s;
}
.hello_user button:hover {
    background-color:#e6e6e6;
}
.hello_user .question {
    width: 75%;
    padding: 10px 15px;
    border:1px solid #cccccc;
    border-radius:20px;
}
.fa-heart {
    cursor: pointer;
}
.heart_active {
    color: red;
}
.fa-comment {
    cursor: pointer;
}
.reply__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.reply {
    width: 50%;
    height: 80%;
    padding: 30px;
    border-radius: 20px;
    margin-right: auto;
    overflow: scroll;
    background-color: white;
}
.close__scroll {
    overflow: hidden;
}
.disable {
    display: none;
}
