<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="bg">
    <form th:action="@{/post/create}" enctype="multipart/form-data" th:object="${postDto}" method="post">
        <label for="fullName">Full Name:</label>
        <input th:field="*{content}" type="text" id="fullName" />
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" th:field="${postDto.multipartFile}" />
        <button type="submit">Create</button>
    </form>
  </div>
</body>
<style>
</style>
</html>
