<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="header" class="header__wrapper">
        <div class="header">
            <div class="">
                <img src="https://inkythuatso.com/uploads/images/2021/11/logo-twitter-inkythuatso-2-01-27-10-02-43.jpg" alt="Logo" class="header__logo">
            </div>
            <nav class="header__nav">
                <a href="/" class="header__active header__nav__item">
                    <div>
                        <i class="nav_item fa-solid fa-house"></i>
                    </div>
                </a>
                <a href="/search" class="header__nav__item">
                    <div>
                        <i class="nav_item fa-solid fa-magnifying-glass"></i>
                    </div>
                </a>
                <a href="/heart" class="header__nav__item">
                    <div>
                        <i class="nav_item fa-solid fa-heart"></i>
                    </div>
                </a>
                <a th:href="'/userProfile/' + ${user.id}" class="header__nav__item">
                    <div>
                        <i class="nav_item fa-solid fa-user"></i>
                    </div>
                </a>
            </nav>
            <div class="header__menu">
                <div class="logout">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Đăng xuất nè !</button>
                    </form>
                </div>
            </div>
        </div>
  </div>
</body>
</html>