<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="register" th:style="'background-image: url(' + @{/img/bg-login3.jpg} + ')'">
    <form class="register-form" th:action="@{/register}" th:object="${user}" method="post" role="form">
      <h2>Sign up to see content from friends</h2>
      <div class="message-register" th:if="${message} != null ">
        [[${message}]]
      </div>
      <div class="message-user-exist" th:if="${messageUserExist} != null ">
        [[${messageUserExist}]]
      </div>
      <div class="message-user-exist" th:if="${messageError} != null ">
        [[${messageError}]]
      </div>
      <label for="fullName">Full Name:</label><br>
      <input th:field="*{fullName}" type="text" id="fullName" name="fullName" placeholder="Enter your full name..." required autofocus>
      <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>

      <label for="username">Username, phone or email:</label><br>
      <input th:field="*{username}" type="text" id="username" name="username" placeholder="Username, phone or email..." required>

      <label for="age">Age:</label><br>
      <input th:field="*{age}" type="text" id="age" name="age" placeholder="Age..." required>

      <label for="address">Address:</label><br>
      <input th:field="*{address}" type="text" id="address" name="address" placeholder="Address..." required>

      <label for="password">Password:</label><br>
      <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password..." required>
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>


      <button type="submit">Sign up</button>
      <p>-<a th:href="@{/login}">Log in</a>-</p>
    </form>
</div>
</body>
</html>
